# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# my
*.lik
*.pdb
*.log
*.tlog
*.txt
*.sdf
*.opensdf
*.ipch
*.idb
*.log
*.idb
*.pdb
*.sdf
*.ilk
*.tlog
*.log
*.tlog
*.tlog
*.idb
*.pdb
*.log
*.ilk
*.suo
*.exp
